@page "/fetchdata"

@using UCLBackend.Service.Data.DataModels
@using UCLFrontend.Services
@inject PlayerService PlayerService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Salary</th>
                <th>Team</th>
                <th>League</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.Salary</td>
                    <td>@player.Team</td>
                    <td>@player.League</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Player> players;

    protected override async Task OnInitializedAsync()
    {
        players = await PlayerService.GetPlayersAsync();
    }
}
